body {
    font-family: 'Airbnb Cereal', sans-serif;
}

.bold {
    font-weight: bold;
}

.gray {
    color: #918E9B;
}

.card {
    width: 225px;
    font-size: 13px;
}

.card--image {
    width: 225px;
    height: 203px;
    border-radius: 9px;
}

@font-face {
    font-family: 'Airbnb Cereal';
    src: url('../fonts/AirbnbCereal_W_Md.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* .MuiButton-label,
.MuiTypography-root {
    font-family: 'Airbnb Cereal', sans-serif !important;
} */

