body {
    font-family: 'Roboto', sans-serif;
}

.bold {
    font-weight: bold;
}

.gray {
    color: #918E9B;
}

.card {
    width: 225px;
    font-size: 13px;
}

.card--image {
    width: 100%;
    border-radius: 9px;
}
